/*******************************************************************************

Title: SIPMB One Day Service STIKESMB
Date: 19 Juni 2013
Author: Muslihul Aqqad (http://muslih.github.io)

********************************************************************************

	1  zeengrid
	2  general
	3  header
	4  section
	5  aside
	6  footer
	7  fontawesome

*******************************************************************************/
/*******************************************************************************/
/*     1. Zeengrid
/*******************************************************************************/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  background: #fff;
  /* 1 */
  color: #000;
  /* 2 */
  font-family: sans-serif;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 4 */
  -webkit-text-size-adjust: 100%;
  /* 4 */
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  height: auto;
  max-width: 100%;
}

.bungkus {
  padding: 0 15px;
  position: relative;
  *zoom: 1;
}
.bungkus:after {
  content: "";
  display: table;
  clear: both;
}

.baris {
  width: 100%;
  margin: 0 auto;
  position: relative;
  max-width: 978px;
  *zoom: 1;
}
.baris:after {
  content: "";
  display: table;
  clear: both;
}

[class*="zeen"] {
  float: left;
  display: inline;
  min-height: 1px;
  position: relative;
  margin-left: 3.09091%;
}
[class*="zeen"]:first-child {
  margin-left: 0;
}

.zeen-1 {
  width: 5.5%;
}

.zeen-2 {
  width: 14.09091%;
}

.zeen-3 {
  width: 22.68182%;
}

.zeen-4 {
  width: 31.27273%;
}

.zeen-5 {
  width: 39.86364%;
}

.zeen-6 {
  width: 48.45455%;
}

.zeen-7 {
  width: 57.04545%;
}

.zeen-8 {
  width: 65.63636%;
}

.zeen-9 {
  width: 74.22727%;
}

.zeen-10 {
  width: 82.81818%;
}

.zeen-11 {
  width: 91.40909%;
}

.zeen-12 {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .baris {
    max-width: 767px;
  }
  .baris [class*="zeen"] {
    width: 100%;
    margin-left: 0;
  }
}
body {
  font-family: arial;
}

@font-face {
  font-family: "News Cycle";
  src: url('fonts/mainfont.woff') format('woff');
}

a {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  color: #444;
  text-decoration: none;
}

.tombol {
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  font-size: 15px;
  color: white;
  border: none;
  background: #466792;
  padding: 10px 15px 10px 15px;
}
.tombol:hover {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  background: #354f70;
}

.homeflash {
  right: 0px;
  top: 80px;
  position: absolute;
  width: 340px;
}

.fixaside {
  width: 306px;
  position: fixed;
  top: 0px;
}

nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  margin-right: 5px;
  float: left;
  list-style-type: none;
}
nav a {
  padding: 10px;
  letter-spacing: 1px;
  display: block;
  text-transform: uppercase;
  font-size: 14px;
}
nav a:hover {
  color: #444;
  background: #fff;
}

p, section li, .form-input label, .form-input input, .form-input select, .form-input textarea {
  font-size: 14px;
  line-height: 24px;
  font-size: 1em;
}

.kiri, header h1 {
  float: left;
}

.kanan, nav {
  float: right;
}

.tkiri {
  text-align: left;
}

.tkanan {
  text-align: right;
}

.ttengah {
  text-align: center;
}

.ckiri {
  clear: left;
}

.ckanan {
  clear: right;
}

.kk {
  clear: both;
}

.error, .sukses, .warning {
  padding: 10px;
  margin: 10px 0;
  background: #cc0000;
  color: #fff;
}
.error p, .sukses p, .warning p, .error section li, section .error li, .sukses section li, section .sukses li, .warning section li, section .warning li, .error .form-input label, .form-input .error label, .sukses .form-input label, .form-input .sukses label, .warning .form-input label, .form-input .warning label, .error .form-input input, .form-input .error input, .sukses .form-input input, .form-input .sukses input, .warning .form-input input, .form-input .warning input, .error .form-input select, .form-input .error select, .sukses .form-input select, .form-input .sukses select, .warning .form-input select, .form-input .warning select, .error .form-input textarea, .form-input .error textarea, .sukses .form-input textarea, .form-input .sukses textarea, .warning .form-input textarea, .form-input .warning textarea {
  margin: 0;
}

.sukses {
  background: green;
}

.warning {
  background: #fa8c00;
}

header {
  overflow: hidden;
  padding-top: 15px;
  padding-bottom: 15px;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}
header a {
  color: inherit;
  font-family: "News Cycle", sans-serif;
}
header h1 {
  letter-spacing: 1px;
  margin: 0;
}
header h1 span {
  font-weight: normal;
}
header blockquote {
  font-family: "News Cycle", sans-serif;
  overflow: hidden;
  padding: 150px 0;
  clear: both;
  margin: 0;
  font-size: 45px;
}
header blockquote span {
  display: block;
  float: left;
  clear: left;
}

.login {
  background: rgba(255, 255, 255, 0.3);
  padding: 20px;
  width: 300px;
  position: absolute;
  right: 0px;
  top: 200px;
}
.login h2 {
  font-family: "News Cycle", sans-serif;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: normal;
}
.login input {
  padding: 10px;
  margin-bottom: 10px;
  border: 0px;
  display: block;
  width: 95%;
}
.login button {
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  font-size: 15px;
  color: #444444;
  border: none;
  background: white;
  padding: 10px 15px 10px 15px;
}
.login button:hover {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  background: #e6e6e6;
}

section {
  padding: 20px 0;
  overflow: hidden;
}
section a:hover {
  color: #466792;
}
section h2 {
  font-size: 2em;
  color: #000;
  letter-spacing: 2px;
  margin-bottom: 0;
  font-weight: normal;
  font-family: "News Cycle", sans-serif;
}
section h2:first-child {
  margin-top: 0;
}
section p, section li, section .form-input label, .form-input section label, section .form-input input, .form-input section input, section .form-input select, .form-input section select, section .form-input textarea, .form-input section textarea {
  margin-top: 0;
  letter-spacing: 1px;
  font-family: "News Cycle", sans-serif;
}
section .meta {
  font-size: 13px;
  line-height: 25px;
  color: #777777;
}
section .meta .tag:before {
  content: "#";
}
section .cari {
  padding: 0px;
  border: solid 1px #ddd;
  position: absolute;
  top: 10px;
  right: 0;
}
section .cari input {
  border: 0px;
}
section .cari button {
  padding: 10px 5px 5px;
  line-height: 15px;
}

.submenu {
  list-style-type: none;
  margin-top: 15px;
  padding: 0;
}
.submenu li {
  cursor: pointer;
  line-height: 11px;
  display: inline-table;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  font-size: 15px;
  color: white;
  border: none;
  background: #466792;
  padding: 10px 15px 10px 15px;
}
.submenu li:hover {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  background: #354f70;
}
.submenu .aktif {
  background: #7d9bc1;
}
.submenu .aktif:hover {
  background: #7d9bc1;
}

.menusamping {
  background: #466792;
  padding: 0;
}
.menusamping li {
  list-style-type: none;
  border-bottom: solid 1px #7d9bc1;
}
.menusamping li:last-child {
  border-bottom: 0;
}
.menusamping a {
  color: #fff;
  display: block;
  padding: 5px 10px;
}
.menusamping a.aktif {
  background: #4e73a3;
}
.menusamping a:hover {
  background: #5b80b0;
  color: #fff;
}
.menusamping a.aktif {
  background: #5b80b0;
  color: #fff;
}
.menusamping a span {
  float: right;
  background: #940707;
  padding: 0px 5px;
  font-size: 12px;
}

table {
  width: 100%;
}

th {
  letter-spacing: 1px;
  background: #466792;
  color: #fff;
}

tr {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  border-bottom: solid 1px #ddd;
}
tr:first-child {
  border-top: solid 1px #ddd;
}
tr:hover {
  background: #fbfbfb;
}

th, td {
  text-align: left;
  font-family: "News Cycle", sans-serif;
  padding: 5px;
}

input.edit {
  background: transparent;
  border-bottom: dashed 1px #444;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 0 5px;
}
input.edit:focus {
  outline: none;
}

.form-input label, .form-input input, .form-input select, .form-input textarea {
  display: block;
  font-family: "News Cycle", sans-serif;
  line-height: 24px;
}
.form-input input, .form-input textarea {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  padding: 5px;
  border: solid 1px #ddd;
  margin-bottom: 10px;
  -webkit-appearance: none;
}
.form-input input:focus, .form-input textarea:focus {
  outline: none;
  border: solid 1px #466792;
}
.form-input input {
  min-width: 200px;
}
.form-input textarea {
  min-width: 300px;
  min-height: 100px;
}
.form-input label {
  padding: 5px 5px 5px 0;
}
.form-input select {
  padding: 5px;
  margin-bottom: 10px;
  min-width: 200px;
}
.form-input button {
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  font-size: 15px;
  color: white;
  border: none;
  background: #466792;
  padding: 10px 15px 10px 15px;
}
.form-input button:hover {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  background: #354f70;
}

footer {
  color: #848484;
  font-family: "News Cycle", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
footer p, footer section li, section footer li, footer .form-input label, .form-input footer label, footer .form-input input, .form-input footer input, footer .form-input select, .form-input footer select, footer .form-input textarea, .form-input footer textarea {
  margin-top: 0;
  font-size: 13px;
}
footer li {
  margin-right: 10px;
}
footer li a {
  font-size: 13px;
  padding: 0;
  color: inherit;
}

.bantuan {
  display: none;
}
.bantuan .keluar {
  cursor: pointer;
  top: 15px;
  right: 15px;
  z-index: 100;
  position: fixed;
  color: #fff;
  padding: 7px 10px;
}

.bg_bantuan {
  position: fixed;
  z-index: 90;
  background: rgba(0, 0, 0, 0.66);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.kotak_bantuan {
  position: fixed;
  z-index: 99;
  background: #fff;
  left: 20%;
  right: 20%;
  top: 10%;
  bottom: 10%;
  padding: 15px;
  overflow-y: auto;
}

#mce_15-body button {
  background: transparent;
}

.btn-primary {
  color: #fff;
  background: #466792;
  font-weight: bolder;
  padding: 0px 8px 3px;
  border-radius: 100%;
}

.kuitansi {
  font-weight: bold;
  background: #ddd;
  padding: 10px;
  width: 90px;
  letter-spacing: 2px;
}

/*******************************************************************************/
/*     font awesome
/*******************************************************************************/
/* font-face */
@font-face {
  font-family: "GeneralFoundicons";
  src: url("../font/general_foundicons.eot");
  src: url("../font/general_foundicons.eot?#iefix") format("embedded-opentype"), url("../font/general_foundicons.woff") format("woff"), url("../font/general_foundicons.ttf") format("truetype"), url("../font/general_foundicons.svg#GeneralFoundicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* global foundicon styles */
[class*="foundicon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: middle;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}

[class*="foundicon-"]:before {
  font-family: "GeneralFoundicons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}

/* icons */
.foundicon-settings:before {
  content: "\f000";
}

.foundicon-heart:before {
  content: "\f001";
}

.foundicon-star:before {
  content: "\f002";
}

.foundicon-plus:before {
  content: "\f003";
}

.foundicon-minus:before {
  content: "\f004";
}

.foundicon-checkmark:before {
  content: "\f005";
}

.foundicon-remove:before {
  content: "\f006";
}

.foundicon-mail:before {
  content: "\f007";
}

.foundicon-calendar:before {
  content: "\f008";
}

.foundicon-page:before {
  content: "\f009";
}

.foundicon-tools:before {
  content: "\f00a";
}

.foundicon-globe:before {
  content: "\f00b";
}

.foundicon-home:before {
  content: "\f00c";
}

.foundicon-quote:before {
  content: "\f00d";
}

.foundicon-people:before {
  content: "\f00e";
}

.foundicon-monitor:before {
  content: "\f00f";
}

.foundicon-laptop:before {
  content: "\f010";
}

.foundicon-phone:before {
  content: "\f011";
}

.foundicon-cloud:before {
  content: "\f012";
}

.foundicon-error:before {
  content: "\f013";
}

.foundicon-right-arrow:before {
  content: "\f014";
}

.foundicon-left-arrow:before {
  content: "\f015";
}

.foundicon-up-arrow:before {
  content: "\f016";
}

.foundicon-down-arrow:before {
  content: "\f017";
}

.foundicon-trash:before {
  content: "\f018";
}

.foundicon-add-doc:before {
  content: "\f019";
}

.foundicon-edit:before {
  content: "\f01a";
}

.foundicon-lock:before {
  content: "\f01b";
}

.foundicon-unlock:before {
  content: "\f01c";
}

.foundicon-refresh:before {
  content: "\f01d";
}

.foundicon-paper-clip:before {
  content: "\f01e";
}

.foundicon-video:before {
  content: "\f01f";
}

.foundicon-photo:before {
  content: "\f020";
}

.foundicon-graph:before {
  content: "\f021";
}

.foundicon-idea:before {
  content: "\f022";
}

.foundicon-mic:before {
  content: "\f023";
}

.foundicon-cart:before {
  content: "\f024";
}

.foundicon-address-book:before {
  content: "\f025";
}

.foundicon-compass:before {
  content: "\f026";
}

.foundicon-flag:before {
  content: "\f027";
}

.foundicon-location:before {
  content: "\f028";
}

.foundicon-clock:before {
  content: "\f029";
}

.foundicon-folder:before {
  content: "\f02a";
}

.foundicon-inbox:before {
  content: "\f02b";
}

.foundicon-website:before {
  content: "\f02c";
}

.foundicon-smiley:before {
  content: "\f02d";
}

.foundicon-search:before {
  content: "\f02e";
}

/*******************************************************************************/
/*     responsive
/*******************************************************************************/
@media only screen and (max-width: 767px) {
  header h1 {
    float: none;
    margin-bottom: 20px;
  }
  header blockquote {
    display: none;
  }
  header .login {
    position: initial;
  }

  .fixaside {
    position: initial !important;
    width: 100%;
  }
}
